.newsletter-bg {
    background-color: #f7f7f7;
}

.newsletter {
    display: flex;
    flex-wrap: wrap;
    padding: 3.75rem 0;
    align-items: center;
    /*padding: 3.75rem calc((100% - 56.25rem) / 2);*/
}

.newsletter-info {
    flex: 1 1 15rem;
    margin: 0 .625rem;
}

.newsletter-info h1 {
    color: #a4a4a4;
    font-size: 3rem;
}

.newsletter-info p {
    font-size: 1.125rem;
    font-style: italic;
    max-width: 14.375rem;
    color: #7c7c7c;
    margin-bottom: .625rem;
}

.newsletter form {
    flex: 2 1 16.25rem;
    margin: 0 .625rem;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter input {
    flex: 3 1 16.25rem;
    font-size: 1.25rem;
    color: #7c7c7c;
    font-style: italic;
    font-family: "MK-Nunito", Helvetica, Arial, sans-serif;
    border: .25rem solid #2c70ff;
    background: transparent;
    padding: .938rem .625rem;
    margin: 0;
    border-radius: 0;
}

.newsletter button {
    flex: 1 1 16.25rem;
    font-family: "MK-Nunito", Helvetica, Arial, sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #2c70ff;
    color: white;
    margin: 0;
    cursor: pointer;
    border: 0;
    padding: .938rem .625rem;
}

.newsletter input,
.newsletter button {
    box-sizing: border-box;
    height: 100%;
}