.header-bg {
    background-color: #F7F7F7;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.header-menu ul li a {
    padding: 1rem 2rem;
    font-size: 1.125rem;
}