@import "reset.css";
@import "fonts.css";
@import "header.css";
@import "intro.css";
@import "experiencia.css";
@import "formacao.css";
@import "contato.css";
@import "footer.css";

* {
    /*border: 1px solid darkorange;*/
}

body {
    font-family: "MK-FiraSans", Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 75rem;
    padding: 3rem 1.5rem;
}